<style>
    #imghome {
        display: none;
    }
</style>

</head>

<body className='snippet-body'>
    <%- include('../partials/home'); %>
        <div class="wrapper w3-container-fluid" style="width:100%; overflow-x:auto;">
            <br><br><br><br>
            <section class="w3-container-fluid">
                <div class="w3-container-fluid">
                    <div class="responsive w3-container text-left row col-12">
                        <center>
                            <h4>Você está visualisando os dados completos do Tipo de Usuário: <b style="color: red;">
                                    <br>
                                    <%=formapagtos.formapagto%>
                                </b> </h4><br><br>
                        </center>

                        <div class="container responsive row col-12">
                            <div class="container row col-12">
                                <div class="col-md-2">
                                    <div class="col-md-2">
                                        <img class="rounded" src="/img/perfilusuario/formadepagto.jpg"
                                            style="width:120px; height:100px">
                                    </div>
                                </div>

                                <div class="container border row col-8">
                                    <div class="col-md-2 text-center">
                                        <div class="form-group text-center">
                                            <div><small><strong>ID</strong></small></div>
                                            <div>
                                                <%=formapagtos.id%>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 text-center">
                                        <div><small><strong>Nome do Tipo de Usuário</strong></small></div>
                                        <div>
                                            <%=formapagtos.formapagto%>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <br><br>
                <div class="col-4 d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Qual ação deseja realizar?</h4>
                </div>
                <div class="responsive container  col-md-12">
                    <div class="col-md-1" id="divleft"><a onclick="location = '/formapagtos/<%= formapagtos.id%>/edit'"
                            type="button" class="btn btn-success btn-sm-3 profile-button text-white"
                            onsubmit="return edit();">Editar<i title="Editar Esta Forma de Pagamento"
                                style="font-size: 15px;">
                            </i>
                        </a>
                    </div>

                    <div class="col-md-1" id="divleft">

                        <% if(l.Tipousuario.tipousuario=='Administrador' ) {%>
                            <form method="POST" action="/formapagtos/<%= formapagtos.id %>?_method=DELETE" id="view"
                                onsubmit="return del();">
                                <button action="submit" class="btn btn-danger btn-sm-3 text-white"
                                    title="Deletar Esta Forma de Pagamento"><i style="font-size: 15px;">Deletar</i>
                                </button>
                            </form>
                            <% } else { %>

                                <% } %>
                    </div>

                    <div class="col-md-8" id="divright">
                        <a class="col-md-8" href="/formapagtos ">Voltar para Listagem de Formas de Pagamento</a>
                    </div>
                </div>
                <br> <br>
            </section>
        </div>

        <script src="/js/alertas.js"></script>

</body>