<link href="../../../css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../../../css/tables_view.css" rel="stylesheet">
<link href="../../../js/jquery.js" rel="stylesheet">
<link href='../../../css/bootstrap.min.css' rel='stylesheet'>
<style>
    ::-webkit-scrollbar {
        width: 8px;
    }

    /* Track */

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */

    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    #imghome {
        display: none;
    }
</style>

<script>
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }
</script>
<body className='snippet-body'>
    <%- include('../partials/home'); %>
        <div class="wrapper container-fluid">
            <br><br><br>
            <section class="container-fluid" id="pdf2htmldiv">
                <div class="container-fluid">
                    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
                    <script type="text/javascript"
                        src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
                    <div class="responsive container row col-md-12">
                        <div class="responsive container col-md-2">
                            <% if(l.Tipousuario.tipousuario=='Administrador' || l.Tipousuario.tipousuario=='Gerente' ||
                                l.Tipousuario.tipousuario=='Supervisor' || l.tipousuarioid==2) {%>
                                <form method="GET" action="/categorias/new">
                                    <button type="submit" class="btn btn-primary text-left"
                                        title="Criar Nova Categorias">Nova Categoria</button>
                                </form>
                                <% } else { %>
                                    <!-- Aqui fica em branco no lugar do botão que não atenda a condição que seja satisfatória para o Perfil-->
                                    <% } %>
                        </div>

                        <div class="container responsive col-md-7">
                            <h4>Atualmente temos:
                                <b style="color: red;">
                                    "<%=countCategoria%>" </b> Categorias <b
                                    style="color: rgb(111, 15, 194);">"cadastradas"</b>.
                                <br>
                        </div>
                        <div class="w3-container-fluid responsive col-md-1">
                            <a onclick="printDiv('pdf2htmldiv')" type="button">
                                <i class="fa fa-print " aria-hidden="true " style="font-size: 35px; "></i>
                        </div>

                    </div>
                    <div class="container responsive row col-md-12">

                        <table id="example"
                            class="table  border-light table-bordered table-responsive-sm table-hover container-fluid"
                            style="width:100%; overflow-x:auto;">
                            <thead class="w3-container-fluid border border-light responsive bg-dark text-center">
                                <tr class="table-active table-dark ">
                                    <!--1-->
                                    <th scope="col">ID</th>
                                    <!--2-->
                                    <th scope="col ">Nome da Categoria</th>
                                    <!--3-->
                                    <th scope="col ">Descrição da Categoria</th>
                                    <!--4-->
                                    <th scope="col ">Ações</th>
                                </tr>
                            </thead>
                            <tbody class="w3-container-fluid border border-light responsive text-center float-justify">
                                <% for(let c of categorias) {%>
                                    <tr class="text-center">
                                        <th>
                                            <b>
                                                <%=c.id%>
                                            </b>
                                        </th>
                                        <td>
                                            <%=c.nomecategoria%>
                                        </td>
                                        <td>
                                            <%=c.descricao%>
                                        </td>

                                        <td>
                                            <div class="w3-container responsive float-center">
                                                <div class="w3-container responsiver row col-md-12">
                                                    <div class="col-md-3">
                                                        <!-- <a href="/usuarios/<%=c .id%>" class="btn btn-warning btn-sm-1">View</a>   class="fa fa-eye"-->
                                                        <a onclick="location = '/categorias/<%= c.id%>'"><i
                                                                style='font-size:28px;color:rgb(17, 59, 247)'
                                                                class="far fa-clipboard fa-xl" aria-hidden="true"
                                                                title="Visualisar Dados Desta Categoria"></i> </a>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <%if (l.tipousuarioid==1 || l.tipousuarioid==4) {%>
                                                            <a onclick="location = '/categorias/<%= c.id%>/edit'"><i
                                                                    style='font-size:28px;color:rgb(6, 218, 52)'
                                                                    class="fas fa-edit fa-xl" aria-hidden="true"
                                                                    title="Editar Esta Categoria"></i>
                                                            </a>
                                                            <% } else { %>
                                                                <% } %>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <% if(l.Tipousuario.tipousuario=='Administrador' ){%>
                                                            <form method="POST"
                                                                action="/categorias/<%= c.id %>?_method=DELETE"
                                                                onsubmit="return del();">
                                                                <button action="submit"><i
                                                                        style='font-size:20px;color:rgb(218, 6, 6);'
                                                                        class="fas fa-trash-alt"
                                                                        title="Deletar Esta Categoria"></i>
                                                                </button>
                                                            </form>
                                                            <% } else { %>

                                                                <% } %>
                                                    </div>

                                                </div>

                                            </div>
                                        </td>
                                        <% }%>
                                    </tr>
                            <tfoot class="text-center border-light container-fluid "
                                style="width:100%; overflow-x:auto; ">
                                <tr>
                                    <!--1-->
                                    <th scope="col">ID</th>
                                    <!--2-->
                                    <th scope="col ">Nome da Categoria</th>
                                    <!--3-->
                                    <th scope="col ">Descrição da Categoria</th>
                                    <!--4-->
                                    <th scope="col ">Ações</th>
                                </tr>
                            </tfoot>
                            <br>
                        </table>
                    </div>
                </div>
         <br><br>   </section>

        </div>
        

        <br <script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js'>
        </script>
        <script type='text/javascript' src='#'></script>
        <script type='text/javascript' src='#'></script>
        <script type='text/javascript' src='#'></script>
        <script type='text/javascript'>
            $(document).ready(function () {
                $('#example').DataTable({
                    "language": {
                        "sLengthMenu": "Mostrar _MENU_ entradas",
                        "lengthMenu": "Mostrar _MENU_ registros por página",
                        "zeroRecords": "Nada encontrado - desculpe",
                        "info": "Mostrando _PAGE_ página de _PAGES_ página(s)",
                        "infoEmpty": "No records available",
                        "infoFiltered": "(filtrado de _MAX_ total registros)",
                        "oPaginate": {
                            "sFirst": "First",
                            "sLast": "Last",
                            "sNext": "Próximo",
                            "sPrevious": "Anterior"
                        },

                        "sProcessing": "Processando...",
                        "sSearch": "Pesquisar:",
                        "sSearchPlaceholder": "",
                        "sUrl": "",

                    }
                });
            });
        </script>
        <script type='text/javascript'>
            var myLink = document.querySelector('a[href="# "]');
            myLink.addEventListener('click', function (e) {
                e.preventDefault();
            });
        </script>

        <script src="/js/alertas.js"></script>
        <br> <br>