<link href="../../../css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../../../css/tables_view.css" rel="stylesheet">
<link href="../../../js/jquery.js" rel="stylesheet">
<link href='../../../css/bootstrap.min.css' rel='stylesheet'>
    <style>
         ::-webkit-scrollbar {
            width: 8px;
        }
        /* Track */
        
         ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        /* Handle */
        
         ::-webkit-scrollbar-thumb {
            background: #888;
        }
        /* Handle on hover */
        
         ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
        
        #imghome {
            display: none;
        }
    </style>

    <script>
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
        }
    </script>

</head>


<body className='snippet-body'>
    <%- include('../partials/home'); %>
        <div class="wrapper container-fluid">
            <br><br><br>
            <section class="container-fluid" id="pdf2htmldiv">
                <div class="container-fluid">
                    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
                    <script type="text/javascript"
                        src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
                    <div class="responsive container row col-md-12">
                            <center>
                                <div class="row col-12">
                                        <h4>Relatório com
                                            <b style="color: red; ">                                   
                                          "<%=countRelCat%>" </b> <b style="color: rgb(111, 15, 194);">Produtos</b> cadastrados e suas <b style="color: red; ">  Categorias.                                 
                                           </b> <br>
                                        </h4>
                                    </div>

                                    <div class="row col-md-12">
                                        <div class="col-md-8">
                                            <a onclick="location = '/menurelatorios'"
                                                    style='font-size:28px;color:rgb(17, 59, 247)'
                                                    title="Voltar a Tela de Relatórios">Menu Relatórios</a>
                                        </div>
                                        <div class="col-md-1">
                                            <a onclick="printDiv('pdf2htmldiv')" type="button">
                                                <i class="fa fa-print" aria-hidden="true" style="font-size: 35px;"></i>
                                        </div>
                                    </div> 
                            </center>
                            <table id="example" class="table  border-light table-bordered table-responsive-sm  container-fluid" style="width:100%; overflow-x:auto;">

                                <br>
                                <thead class="responsive bg-dark container text-center">
                                    <tr class="table-active table-dark">
                                        <!--1-->
                                        <th scope="col">Categoria Produto</th>

                                        <th scope="col">Nome Produto</th>
                                        <!--4-->
                                        <th scope="col">Nome Fornecedor</th>
                                        <!--4-->

                                    </tr>
                                </thead>


                                <tbody class="text-center">
                                    <% let contador = 0%>
                                        <% for(let c of produtosentradas) {%>
                                            <tr class="text-center">
                                               <td>
                                                    <b> <%=vetorCategorias[contador]%>
                                                        <%contador++%></b>
                                                </td>
                                                <td>
                                                    <%=c.Produto.nomeprod%>
                                                </td>

                                                <td>
                                                    <%=c.Fornecedore.razaosocial%>
                                                </td>
                                            </tr>
                                            <% }%>
                                                <tfoot class="text-center border-light container-fluid " style="width:100%; overflow-x:auto; ">
                                                    <tr>
                                                        <!--1-->
                                                        <th scope="col">Categoria Produto</th>

                                                        <th scope="col">Nome do Produto</th>
                                                        <!--4-->
                                                        <th scope="col">Nome Fornecedor</th>
                                                        <!--4-->
                                                    </tr>
                                                </tfoot>
                                                <br>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js'></script>
        <script type='text/javascript' src='#'></script>
        <script type='text/javascript' src='#'></script>
        <script type='text/javascript' src='#'></script>
        <script type='text/javascript'>
            /*https://www.mundojs.com.br/2018/09/17/criando-tabelas-com-o-datatables-js/
                                                                                    Passando para o Português
                                                                                    */
            $(document).ready(function() {
                $('#example').DataTable({
                    "language": {
                        "sLengthMenu": "Mostrar _MENU_ entradas",
                        "lengthMenu": "Mostrar _MENU_ registros por página",
                        "zeroRecords": "Nada encontrado - desculpe",
                        "info": "Mostrando _PAGE_ página de _PAGES_ página(s)",
                        "infoEmpty": "No records available",
                        "infoFiltered": "(filtrado de _MAX_ total registros)",
                        "oPaginate": {
                            "sFirst": "First",
                            "sLast": "Last",
                            "sNext": "Próximo",
                            "sPrevious": "Anterior"
                        },

                        "sProcessing": "Processando...",
                        "sSearch": "Pesquisar:",
                        "sSearchPlaceholder": "",
                        "sUrl": "",

                    }
                });
            });
        </script>
        <script type='text/javascript'>
            var myLink = document.querySelector('a[href="# "]');
            myLink.addEventListener('click', function(e) {
                e.preventDefault();
            });
        </script>

        <script src="/js/alertas.js"></script>

</body>

</html>