<head>
    <style>
        #menufiltrocardapio {
            display: none;
        }
    </style>
</head>
<%- include('../homesite/head'); %>

    <%- include('../homesite/header'); %>

        <%- include('../homesite/carrossel'); %>

            <main id="main">
                <%- include('../homesite/videos'); %>

                    <%- include('../homesite/galeria'); %>

                        <%- include('../homesite/sobre'); %>

                            <%- include('../homesite/endereco'); %>

            </main>



            <%- include('../homesite/footer'); %>


                <!--fim #main para todas estas paginas acima -->