<link href="../../css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../../css/tables_view.css" rel="stylesheet">
<link href="../../js/jquery.js" rel="stylesheet">
<link href='../../css/bootstrap.min.css' rel='stylesheet'>


<!-- boostrap MENU -->
<style>
    ::-webkit-scrollbar {
        width: 8px;
    }

    /* Track */

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */

    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    #imghome {
        display: none;
    }
</style>

<script>
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }
</script>

</head>

<body className='snippet-body'>
    <%- include('../partials/home'); %>
        <div class="wrapper container-fluid">
            <br> <br> <br> <br>
            <section class="container-fluid">
                <div class="container-fluid">
                    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
                    <script type="text/javascript"
                        src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
                    <!-- boostrap TABELAS  <link href="../../public/css/DataTables/jquery.dataTables.min.css" rel="stylesheet" />
                        <script src="../../public/css/DataTables/jquery.dataTables.min.js"></script> boostrap TABELAS -->
                    <div class="container-fluid responsive" id="pdf2htmldiv">
                        <div class="w3-container-fluid responsive row col-md-12">
                            <table id="example"
                                class="table  border-light table-bordered table-responsive-sm  container-fluid float-justify"
                                style="width:100%; overflow-x:auto;">
                                <center>
                                    <div class="responsive container text-left row col-md-12">
                                        <div class="w3-container-fluid responsive row col-md-2">
                                            <% if(l.Tipousuario.tipousuario=='Administrador' ||
                                                l.Tipousuario.tipousuario=='Atendente' ||
                                                l.Tipousuario.tipousuario=='Gerente' ||
                                                l.Tipousuario.tipousuario=='Supervisor' || l.tipousuarioid==2) {%>
                                                <form method="GET" action="/fornecedores/new">
                                                    <button type="submit" class="btn btn-primary text-left"
                                                        title="Criar Novo Usuário">Novo Usuário</button>
                                                </form>

                                                <% } else { %>
                                                    <% } %>
                                                        <!-- Aqui fica em branco no lugar do botão que não atenda a condição que seja satisfatória para o Perfil-->
                                        </div>

                                        <div class="container responsive col-md-8">
                                            <h4>Atualmente temos:
                                                <b style="color: red;">
                                                    "<%=countFornecedor%>" </b> Fornecedores <b
                                                    style="color: rgb(111, 15, 194);">"cadastrados"</b>.
                                                <br>
                                        </div>
                                        <div class="col-md-1">
                                            <a onclick="printDiv( 'pdf2htmldiv') " type="button ">
                                                <i class="fa fa-print " aria-hidden="true "
                                                    style="font-size: 35px; "></i>
                                        </div>
                                    </div>
                                </center>
                        </div>
                        <div class="container responsive row col-md-12">
                            <div class="container responsive row col-md-12">
                                <thead class="w3-container-fluid responsive bg-dark text-center">
                                    <tr class="table-active table-dark">
                                        <!--1-->
                                        <th scope="col">ID</th>
                                        <!--2-->
                                        <th scope="col">Razao Social</th>
                                        <!--3-->
                                        <th scope="col">Nome Fantasia</th>
                                        <!--4-->
                                        <th scope="col">CNPJ</th>
                                        <!--5-->
                                        <th scope="col">Ramo Atuação</th>
                                        <!--6-->
                                        <th scope="col">Estado</th>
                                        <!--6-->
                                        <th scope="col">Ação</th>
                                    </tr>
                                </thead>
                                <%let contador=0 %>
                                    <tbody
                                        class="w3-container-fluid border-dark table-bordered table-responsive-sm text-center col-md-12">
                                        <% for(let c of fornecedores) {%>
                                            <tr class="text-center">
                                                <th>
                                                    <b>
                                                        <%=c.id%>
                                                    </b>
                                                </th>
                                                <td>
                                                    <%=c.razaosocial%>
                                                </td>
                                                <td>
                                                    <%=c.nomefantasia%>
                                                </td>
                                                <td>
                                                    <%=c.cnpj%>
                                                </td>

                                                <td>
                                                    <%=c.ramoatuacao%>
                                                </td>
                                                <!--<td>
                                                <%=c.Endereco.estadosid%> 
                                            </td>
                                       -->
                                                <td>
                                                    <%=vetorEstados[contador]%>
                                                        <% contador++ %>
                                                </td>


                                                <td>
                                                    <div class="w3-container-fluid responsive float-center">
                                                        <div class="row w3-container-fluid responsive row col-md-12">
                                                            <div class="col-md-4">
                                                                <a onclick="location = '/fornecedores/<%= c.id%>'"><i
                                                                        style='font-size:28px;color:rgb(17, 59, 247)'
                                                                        class="far fa-clipboard fa-xl"
                                                                        aria-hidden="true"
                                                                        title="Visualisar Dados Deste Fornecedor"></i>
                                                                </a>
                                                                </button>
                                                            </div>
                                                            <% if(l.Tipousuario.tipousuario=='Administrador' ||
                                                                l.Tipousuario.tipousuario=='Atendente' ||
                                                                l.Tipousuario.tipousuario=='Gerente' ||
                                                                l.Tipousuario.tipousuario=='Supervisor' ||
                                                                l.tipousuarioid==2) {%>

                                                                <div class="col-4">
                                                                    <a
                                                                        onclick="location = '/fornecedores/<%= c.id%>/edit'"><i
                                                                            style='font-size:28px;color:rgb(6, 218, 52)'
                                                                            class="fas fa-edit fa-xl" aria-hidden="true"
                                                                            title="Editar Este Fornecedor"></i>
                                                                    </a>
                                                                </div>
                                                                <% } else { %>

                                                                    <% } %>

                                                                        <% if(l.Tipousuario.tipousuario=='Administrador'
                                                                            ) {%>
                                                                            <div class="col-4">
                                                                                <form method="POST"
                                                                                    action="/fornecedores/<%= c.id %>?_method=DELETE"
                                                                                    onsubmit="return del();">
                                                                                    <button action="submit"><i
                                                                                            style='font-size:20px;color:rgb(218, 6, 6);'
                                                                                            class="fas fa-trash-alt"
                                                                                            title="Deletar Este Fornecedor"></i>
                                                                                    </button>
                                                                                </form>
                                                                            </div>
                                                                            <% } else { %>

                                                                                <% } %>
                                                        </div>

                                                    </div>
                                                </td>

                                            </tr>
                                            <% }%>
                                    <tfoot class="text-center border-light container-fluid "
                                        style="width:100%; overflow-x:auto; ">
                                        <tr>
                                            <!--1-->
                                            <th scope="col">ID</th>
                                            <!--2-->
                                            <th scope="col">Razao Social</th>
                                            <!--3-->
                                            <th scope="col">Nome Fantasia</th>
                                            <!--4-->
                                            <th scope="col">CNPJ</th>
                                            <!--5-->
                                            <th scope="col">Ramo Atuação</th>
                                            <!--6-->
                                            <th scope="col">Estado</th>
                                            <!--6-->
                                            <th scope="col">Ação</th>
                                        </tr>
                                    </tfoot>
                                    <br>
                                    </table>
                            </div>
                        </div>
            </section>
        </div>
        <script type='text/javascript'
            src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js'></script>
        <script type='text/javascript' src='#'></script>
        <script type='text/javascript' src='#'></script>
        <script type='text/javascript' src='#'></script>
        <script type='text/javascript'>
            /*https://www.mundojs.com.br/2018/09/17/criando-tabelas-com-o-datatables-js/
                                                                                                                                                                                                                                                                                                                                                                        Passando para o Português
                                                                                                                                                                                                                                                                                                                                                                        */
            $(document).ready(function () {
                $('#example').DataTable({
                    "language": {
                        "sLengthMenu": "Mostrar _MENU_ entradas",
                        "lengthMenu": "Mostrar _MENU_ registros por página",
                        "zeroRecords": "Nada encontrado - desculpe",
                        "info": "Mostrando _PAGE_ página de _PAGES_ página(s)",
                        "infoEmpty": "No records available",
                        "infoFiltered": "(filtrado de _MAX_ total registros)",
                        "oPaginate": {
                            "sFirst": "First",
                            "sLast": "Last",
                            "sNext": "Próximo",
                            "sPrevious": "Anterior"
                        },

                        "sProcessing": "Processando...",
                        "sSearch": "Pesquisar:",
                        "sSearchPlaceholder": "",
                        "sUrl": "",

                    }
                });
            });
        </script>
        <script type='text/javascript'>
            var myLink = document.querySelector('a[href="# "]');
            myLink.addEventListener('click', function (e) {
                e.preventDefault();
            });
        </script>
        <script src="../../public/js/alertas.js"></script>

</body>