<script type='text/javascript' src='../../js/jquery.js'></script>

<style>
    #imghome {
        display: none;
    }

    /* width */
</style>
</head>
<script>  //inicio função para MULTIPLICAR a qtde comprada pelo valor unitario para salvar no BD
    function Mult() {
        var valorItem = document.getElementById('valueIDNomeProd');
        var mult = 1;
        var ipts = document.querySelectorAll('input[oninput="Mult()"]');
        for (var x = 0; x < ipts.length; x++) {
            var valorItem = parseFloat(ipts[x].value);
            if (mult > 0 && mult === 0)
                mult = valorItem;
            else {
                !isNaN(valorItem) ? mult *= parseFloat(valorItem) : null;
                console.log(mult);
            }
        }
        document.querySelector('#valortotal').value = mult.toFixed(2);
    }
    ///////////////////////////////////////////////////////////////////////



    //INICIO atualizar o ID do produto na edição na SAÍDA DE PRODUTOS
    function updateIDProd() {

        var select = document.getElementById('atualizarIDProd');
        var option = select.options[select.selectedIndex];
        //var select = document.getElementById('atualizarValor');
        //abaixo para atualizar o ID do produto para EDICAO
        document.getElementById('valueIDNomeProd').value = option.value;

        //abaixo pega valor unitario atual atraves do ID do PRODUTO ao fazer a troca valoru unitario produto
        document.getElementById('valueValor').value = option.value;
        // document.getElementById('valueCategoria').value = option.value;


        // var t1 = document.querySelector('input[name="valorunit"]');
        //// var t2 = document.querySelector('textarea[name="valorunit"]');
        // t2.value = t1.value;

    }

    updateIDProd(); //formulario recebe atraves do "id="update"
    //FIM atualizar o ID do produto na edição na SAÍDA DE PRODUTO


    ///////////////////////////////////////////////////////////////////////
</script>

<body className='snippet-body' id="validar">
    <%- include('../../partials/home'); %>
        <div class="wrapper container-fluid">
            <section class="container-fluid answercell" id="pdf2htmldiv">
                <br><br><br>
                <div class="container-fluid">
                    <div class="responsive container text-left row-col-12">
                        <center>
                            <h4><br>Você está no cadastro de <b style="color: red;">Nova Saída de Entrada de Produto no
                                    Estoque:</b>
                                <br>
                                <br>
                            </h4>
                        </center>

                    <!-- action="/produtos" method="POST" class="jumbotron"   se usar deixa a area da tabela toda CINZA   id="fundoshow"  onsubmit="return save();" -->
                    <form class="responsive container-fluid" id="validar" action="/produtos/saidas/" method="POST" onsubmit="return save(); ">
                        <div class="responsive container-fluid float-center text-left row-col-12">
                            <div class="container-fluid border  row-col-12">
                                <h5>Dados de Identificação do Produto:</h5>
                                <div class="form-row">
                                    <div class="form col-md-2">
                                        <img class="rounded-circle" src="/img/perfilusuario/produtos.jpg " style="width:150px; padding:0px,0px,opx,20px; height:80px ">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="id">ID do Produto</label>
                                        <input type="text" id="valueIDNomeProd" class="form-control" id="produtosid" placeholder="" name="produtosid" disabled autofocus/>

                                    </div>
                                    <div class="form-group col-md-5">
                                        <label for="nomeprod">Nome Produto</label>
                                        <select class="form-control" class="form-group" id="atualizarIDProd" onChange="updateIDProd()" id="nomeprod" class="form-select" name="nomeprod" required autofocus>
                                            <option value="">Escolha</option>
                                            <% for(prod of listarentradas) { %>
                                            <option value="<%=prod.Produto.id%>">
                                           <%=prod.Produto.nomeprod%>
                                        </option>
                                        <% } %>
                                            </select>

                                        <footer>
                                            <b>Obs:</b> Ao TROCAR o Nome do Produto, será <b>ATUALIZADO ID do Produto</b> e a<b> Categoria</b>.
                                        </footer>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="id">Soma ATUAL Entrada Produto</label>
                                        <input type="text" id="valueIDNomeProd" class="form-control" id="produtosid" placeholder="" name="produtosid" value="" disabled autofocus/>

                                    </div>
                                </div>
                                <h5>Dados do Documento Fiscal de Compra do Produto:</h5>
                                <div class="form-row" id="validar">
                                    <div class="form-group col-md-2">
                                        <label for="datasaida">Data Saída Produto</label>
                                        <input type="date" class="form-control" id="date-1" id="datasaida" name="datasaida" required autofocus/>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="qtdsaida ">Qtde Saída Produto</label>
                                        <input type="number" min="0" oninput="Mult()" id="multiSaida" name="qtdsaida" onkeypress="return (event.charCode==8 || event.charCode==0 ) ? null : event.charCode>=48 && event.charCode<=57" class="form-control" id="qtdsaida" required autofocus/>
                                        <footer>
                                            <b>Obs:</b> Altere a <b>Quantidade</b> conforme necessário.
                                        </footer>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="id ">Valor Unitário</label>
                                        <b><input type="float" class="form-control" min="0" oninput="Mult()"  onkeypress="return (event.charCode==8 || event.charCode==0 ) ? null : event.charCode>= 46 && event.charCode<=57"
                                           id="valorunitariosaida" name="valorunitariosaida" autofocus> </b>

                                        <select class="form-control" id="valueValor" oninput="Mult()" onchange="updateIDProd" id="valorunit" type="text" name="valorunit" autofocus disabled>
                                            <% for(prod of listarentradas) { %>
                                                <option value="<%=prod.id%>">
                                                <%=prod.valorunit%>
                                                    </option>
                                                    <% } %>
                                                        </select>
                                        <footer>
                                            <b>Obs:</b> Use o valor indicado acima para <b>DIGITAR</b> no campo <b> "Valor Unitário"</b>.
                                        </footer>

                                    </div>

                                    <div class="form-group col-md-2">
                                        <label for="valortotalsaida">Valor Total</label>
                                        <input type="float" min="0" name="valortotalsaida" id="valortotal" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 46 && event.charCode <= 57" class="form-control" id="valortotalsaida" placeholder="" value="" required autofocus/>
                                        <footer>
                                            <b>Obs:</b> Valor automático, mas caso altere, declarar com <b>"PONTO". Ex: R$2.5 ou R$1150.50</b>.
                                        </footer>
                                    </div>

                                    <br>
                                </div>
                                
                            </div>
                        </div>


                        <div class="container-fluid responsive col-10 text-center">
                            <br>
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4 class="text-center col-md-7">Qual ação deseja realizar?</h4>
                            </div>
                            <div class="row col-12">
                                <% if(l.Tipousuario.tipousuario=='Administrador' ||
                                    l.Tipousuario.tipousuario=='Gerente' ||
                                    l.Tipousuario.tipousuario=='Supervisor' || l.tipousuarioid==2) {%>
                                    <div class="col-md-4" id="divrigth"><button type="submit"
                                            class="btn btn-success btn-sm-3 profile-button text-white"
                                            onsubmit="return save();"><i title="Salvar Alterações deste Produto"
                                                style="font-size: 15px;">Salvar
                                            </i>
                                        </button>
                                    </div>
                                    <% } else { %>

                                        <% } %>
                                            <div class="col-md-7" id="divrigth">
                                                <a href="/produtos/saidas ">Voltar para Listagem dos
                                                    Produtos</a>
                                            </div>
                            </div>
                        </div>
          
                       </form>
                    <br><br>
                </div>
                <br>

            </section>

        </div>

        <script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js'></script>
        <script type='text/javascript' src='#'></script>
        <script type='text/javascript' src='#'></script>
        <script type='text/javascript' src='#'></script>
        <script type='text/javascript'>
        </script>
        <script type='text/javascript'>
            var myLink = document.querySelector('a[href="# "]');
            myLink.addEventListener('click', function(e) {
                e.preventDefault();
            });
        </script>

        <script src="../js/alertas.js "></script>

</body>

</html>