<script type='text/javascript' src='../../js/jquery.js'></script>

<style>
    #imghome {
        display: none;
    }

    /* width */
</style>
</head>
<script>  //inicio função para MULTIPLICAR a qtde comprada pelo valor unitario para salvar no BD
    function Mult() {
        var valorItem = document.getElementById('valueIDNomeProd');
        var mult = 1;
        var ipts = document.querySelectorAll('input[oninput="Mult()"]');
        for (var x = 0; x < ipts.length; x++) {
            var valorItem = parseFloat(ipts[x].value);
            if (mult > 0 && mult === 0)
                mult = valorItem;
            else {
                !isNaN(valorItem) ? mult *= parseFloat(valorItem) : null;
                console.log(mult);
            }
        }
        document.querySelector('#valortotal').value = mult.toFixed(2);
    }
    ///////////////////////////////////////////////////////////////////////



    //INICIO atualizar o ID do produto na edição na SAÍDA DE PRODUTOS
    function updateIDProd() {

        var select = document.getElementById('atualizarIDProd');
        var option = select.options[select.selectedIndex];
        //var select = document.getElementById('atualizarValor');
        //abaixo para atualizar o ID do produto para EDICAO
        document.getElementById('valueIDNomeProd').value = option.value;

        //abaixo pega valor unitario atual atraves do ID do PRODUTO ao fazer a troca valoru unitario produto
        document.getElementById('valueValor').value = option.value;
        // document.getElementById('valueCategoria').value = option.value;


        // var t1 = document.querySelector('input[name="valorunit"]');
        //// var t2 = document.querySelector('textarea[name="valorunit"]');
        // t2.value = t1.value;

    }

    updateIDProd(); //formulario recebe atraves do "id="update"
    //FIM atualizar o ID do produto na edição na SAÍDA DE PRODUTO


    ///////////////////////////////////////////////////////////////////////
</script>

<body className='snippet-body' id="validar">
    <%- include('../../partials/home'); %>
        <div class="wrapper container-fluid">
            <section class="container-fluid answercell" id="pdf2htmldiv">
                <br><br><br>
                <div class="container-fluid">
                    <div class="responsive container text-left row-col-12">
                        <center>
                            <h4><br>Você está no cadastro de <b style="color: red;">Nova Entrada de Produto no
                                    Estoque:</b>
                                <br>
                                <br>
                            </h4>
                        </center>
                        <!-- action="/produtos" method="POST" class="jumbotron"   se usar deixa a area da tabela toda CINZA   id="fundoshow"  onsubmit="return save();" -->
                        <form class="responsive container-fluid" id="validar" action="/produtos/entradas/" method="POST"
                            onsubmit="return save(); ">
                            <div class="responsive container-fluid text-left row-col-12">
                                <div class="container-fluid border float-center">
                                    <h5>Dados de Identificação do Produto:</h5>
                                    <div class="form-row ">
                                        <div class="form col-md-2">
                                            <img class="rounded-circle" src="/img/perfilusuario/produtos.jpg "
                                                style="width:150px; padding:0px,0px,opx,20px; height:80px ">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="produtosid">ID Produto</label>
                                            <input type="text" id="valueIDNomeProd" class="form-control" id="produtosid"
                                                placeholder="" name="produtosid" value="" disabled autofocus />
                                        </div>
                                        <div class="form-group col-md-7">
                                            <label for="nomeprod">Nome Produto</label>
                                            <select type="text" id="atualizarIDProd" onChange="updateIDProd()"
                                             id="nomeprod" class="form-select" name="nomeprod"
                                                required autofocus>
                                                <option value="Escolher">Escolher
                                                </option>
                                                <% for(prod of listarprodnome) { %>
                                                    <option value="<%=prod.id%>">
                                                        <%=prod.nomeprod%>
                                                    </option>
                                                    <% } %>
                                            </select>
                                            <footer align="justify">
                                                <b>Obs:</b> Ao selecionar o <b>Nome do Produto</b> será incluso o <b>ID
                                                    Produto</b>.
                                            </footer>
                                        </div>


                                        <div class="form-group col-md-6">
                                            <label for="marca">Marca</label>
                                            <input type="text" class="form-control" id="marca"
                                                placeholder="Marca do Produto" name="marca" required autofocus />
                                        </div>
                                    </div> <br>

                                    <h5>Dados do Documento Fiscal de Compra do Produto:</h5>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="doctofiscal">Nota/Cupom Fiscal</label>
                                            <input type="text" class="form-control" id="doctofiscal"
                                                placeholder="CF/NF 000" name="doctofiscal" required autofocus />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="datacompra">Data Compra</label>
                                            <input type="date" class="form-control" id="datacompra"
                                                placeholder="Data da Compra" name="datacompra" required autofocus />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="valorunit">Valor Unitário</label>
                                            <input type="float" min="0"
                                                onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 46 && event.charCode <= 57"
                                                class="form-control" id="valorunit" oninput="Mult()" value="0"
                                                placeholder="1.50" name="valorunit" required autofocus />
                                            <footer align="justify">
                                                <b>Obs:</b> Informar valor com <b>"PONTO". Ex: R$2.5 ou R$1150.50</b>.
                                            </footer>
                                        </div>

                                        <div class="form-group col-md-2">
                                            <label for="qtdecompra">Qtde Compra</label>
                                            <input type="number" min="0"
                                                onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                                                class="form-control" id="qtdecompra" oninput="Mult()" value="0"
                                                placeholder="Qtde Comprada" name="qtdecompra" required autofocus />
                                        </div>

                                        <div class="form-group col-md-2">
                                            <label for="valortotal">Valor Total</label>
                                            <input type="float" min="0"
                                                onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 46 && event.charCode >= 46 && event.charCode <= 57"
                                                class="form-control" id="valortotal"  min="0" oninput="MultSaida()"  placeholder="" name="valortotal"
                                                VALUE="" required autofocus />
                                            <footer align="justify">
                                                <b>Obs:</b> Valor automático, mas caso altere, declarar com <b>"PONTO".
                                                    Ex: R$2.5 ou R$1150.50</b>.
                                            </footer>
                                        </div>
                                    </div>

                                    <br>

                                    <h5>Dados para Validade do Produto</h5>
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label for="datafabricacao">Data Fabricação</label>
                                            <input type="date" class="form-control" id="datafabricacao"
                                                name="datafabricacao" value="" autofocus required />
                                            <!--id="no-spin" onkeypress="return false"-->
                                        </div>

                                        <div class="form-group col-md-2">
                                            <label for="dataatual" style="color: red;">Data Atual</label>
                                            <input type="date" class="form-control" id="date-1" id="dataatual"
                                                name="dataatual" value="" autofocus required />
                                        </div>

                                        <div class="form-group col-md-2">
                                            <label for="datavalidade">Data Validade</label>
                                            <input type="date" class="form-control" id="date-2" id="datavalidade"
                                                name="datavalidade" value="" autofocus required />
                                        </div>

                                        <div class="form-group col-md-6">
                                            <input class="btn btn-dark btn-sm-3 profile-button text-white" type="button"
                                                value="Click Verificar Validade" id="validar" required autofocus>

                                            <b> <label type="text" id="statusvalidade" name="statusvalidade"
                                                    style="color: blueviolet; font-size: 20px;" required autofocus />
                                                Status Aqui ... </label>

                                        </div>
                                    </div>
                                                <div class="form-group col-md-10">
                                                    <label style="color:red;"> Status da validade a ser SALVO no BD:
                                                    </label>
                                                    <b> <input style="color:red;" class="form-control col-md-10" type="text"
                                                            name="statusvalidade" id="updateStatusValidade" value=""
                                                            disabled></b>
                                                </div>

                                        <script>
                                            //codigo javascript para BLOQUEAR inserção de números em determinado input
                                            //fim da função que analisa as possibilidades condicionais para o status da validade do produto
                                            // Declaring and initializing variables
                                            // const validar = document.getElementById("validar");
                                            //const statusvalidade = document.getElementById("statusvalidade");
                                            let validar = document.getElementById("validar");
                                            let statusvalidade = document.getElementById("statusvalidade");

                                            validar.addEventListener("click", () => {
                                                //Create a Date object from input value
                                                // const date1 = dataatual;
                                                // const date2 = datavalidade;

                                                let dataatual = new Date(document.getElementById("date-1").value);
                                                let datavalidade = new Date(document.getElementById("date-2").value);

                                                //Check if the input dates are valid
                                                //If valid calculate the difference
                                                if (dataatual.getTime() && datavalidade.getTime()) {
                                                    //Calculate difference in time using getTime function
                                                    //getTime calculates number of years since January 1,1970
                                                    let timeDifference = datavalidade.getTime() - dataatual.getTime();

                                                    //Since this value is in milliseconds we need to convert it into days
                                                    //We want the difference to be a non-negative number. Hence we use Math.abs()
                                                    let dayDifference = Math.abs(timeDifference / (1000 * 3600 * 24));
                                                    //difdias.innerHTML = `A diferenca entre as duas data e <span>${dayDifference}</span> dias`;

                                                    if (datavalidade > dataatual && dayDifference > 2) {
                                                        statusvalidade.innerHTML = "Produto com validade em dia! " + "Vencerá em " + dayDifference + " dia(s).";
                                                    } else if (datavalidade > dataatual && dayDifference > 0) {
                                                        statusvalidade.innerHTML = "Cuidado: Produto com validade comprometida! Vencerá em " + dayDifference + " dia(s)!";
                                                    } else if (datavalidade < dataatual || dayDifference < 0) {
                                                        statusvalidade.innerHTML = "Urgente: Produto validade VENCIDA a " + dayDifference + " dia(s).";
                                                    } else {
                                                        statusvalidade.innerHTML = "Atenção! Produto vence hoje!";
                                                    }

                                                    //abaixo server para ATUALIZAR O CAMPO QUE IRÁ SALVAR NO DB o resultado da função que aparece no HTML no EDIT/NEW
                                                    let tot = statusvalidade.innerHTML;
                                                    document.getElementById('updateStatusValidade').value = tot

                                                    //inicio id demo
                                                    // <p id="demo" id="statusvalidade" name="statusvalidade"></p>
                                                    //  FAZ A CÓPIA DO RESULTADO DA FUNÇÃO AO REALIZAR O "VERIFICAR VALIDADE"
                                                    let html = document.getElementById("statusvalidade").innerHTML;
                                                    document.getElementById("demo").innerHTML = html;

                                                    //fim id demo
                                                }
                                                //Else display that the input is valid
                                                else {
                                                    statusvalidade.innerHTML = "Por favor, selecione uma data valida";
                                                }
                                                return validar;
                                                console.log(statusvalidade);
                                            });
                                            //fim da função que analisa as possibilidades condicionais para o status da validade do produto

                                        </script>
                                 <br>
                                    <div class="form-group col-md-8">
                                        <h5>Dados do Fornecedor:</h5>
                                        <label for="razaosocial">Nome do Fornecedor</label>
                                        <select id="razaosocial" class="form-select" name="razaosocial" required
                                            autofocus>
                                            <option value="Escolher"> Escolher </option>
                                            <% for(f of dadosfornecedor) { %>
                                                <option value="<%=f.id%>">
                                                    <%=f.razaosocial%>
                                                </option>
                                                <% } %>
                                        </select>
                                    </div>

                                </div>

                                <div class="container-fluid responsive col-10 text-center">
                                    <br>
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <h4 class="text-center col-md-7">Qual ação deseja realizar?</h4>
                                    </div>
                                    <div class="row col-12">
                                        <% if(l.Tipousuario.tipousuario=='Administrador' ||
                                            l.Tipousuario.tipousuario=='Gerente' ||
                                            l.Tipousuario.tipousuario=='Supervisor' || l.tipousuarioid==2) {%>
                                            <div class="col-md-4" id="divrigth"><button type="submit"
                                                    class="btn btn-success btn-sm-3 profile-button text-white"
                                                    onsubmit="return save();"><i title="Salvar Alterações deste Produto"
                                                        style="font-size: 15px;">Salvar
                                                    </i>
                                                </button>
                                            </div>
                                            <% } else { %>

                                                <% } %>
                                                    <div class="col-md-7" id="divrigth">
                                                        <a href="/produtos/entradas ">Voltar para Listagem dos
                                                            Produtos</a>
                                                    </div>
                                    </div>
                                </div>
                        </form>
                    </div>
                    <br>

            </section>

        </div>

        <script type='text/javascript'
            src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js'></script>
        <script type='text/javascript' src='#'></script>
        <script type='text/javascript' src='#'></script>
        <script type='text/javascript' src='#'></script>
        <script type='text/javascript'>
        </script>
        <script type='text/javascript'>
            var myLink = document.querySelector('a[href="# "]');
            myLink.addEventListener('click', function (e) {
                e.preventDefault();
            });
        </script>

        <script src="../../public/js/validarDados.js "></script>

        <script src="../../../public/js/alertas.js "></script>
        <!-- Script -->

</body>

</html>