<style>
    ::-webkit-scrollbar {
        width: 8px;
    }

    /* Track */

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */

    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    #imghome {
        display: none;
    }
</style>
</head>

<body className='snippet-body'>
    <%- include('../partials/home'); %>
        <div class="wrapper w3-container">
            <br><br><br><br>
            <section class="container-fluid">
                <div class=" container-fluid">
                    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
                    <script type="text/javascript"
                        src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
                    <div class="container-fluid responsive ">
                        <div class="responsive container-fluid text-left row-col-12">
                            <center>
                                <h4 class="col-12 ">Atualmente temos:
                                    <b style="color: red;">
                                        "<%=countCardapio%>" </b> Cardápios <b
                                        style="color: rgb(111, 15, 194);">"cadastrados"</b>.
                            </center>
                        </div>

                        <table id="example"
                            class="table border-light table-bordered table-responsive-sm table-hover container-fluid"
                            style="width:100%; overflow-x:auto;">
                            <div class="container-fluid row col-12">
                                <div class="col-md-9">
                                    <form method="GET" action="/cardapios/new">
                                        <button action="submit" class="btn btn-primary text-left"
                                            title="Criar Novo Cardápio">Novo Item Cardápio</button>
                                    </form>

                                </div>
                                <div class="col-md-3">
                                    <button onclick="location = '/cardapios/cardapioHomePage'"
                                        class="btn btn-warning btn-sm-1 text-white"><i class="fa fa-eye"
                                            title="Visualisar Dados Cardápio Site" aria-hidden="true"> Visualisar Prévia
                                            Cardápio Site </i>
                                    </button>
                                </div>
                            </div>
                            <br>
                            <thead class="w3-container-fluid responsive bg-dark text-center ">
                                <tr class="table-active table-dark">
                                    <!--1-->
                                    <th scope="col">ID</th>
                                    <!--2-->
                                    <th scope="col">Item do Cardápio</th>
                                    <!--3-->
                                    <th scope="col">Descrição dos Ingredientes do Cardápio</th>
                                    <th scope="col">Categoria do Cardápio</th>
                                    <!--4-->
                                    <th scope="col">Valor</th>
                                    <!--5-->
                                    <th scope="col">Ações</th>
                                </tr>
                            </thead>
                            <tbody class="w3-container-fluid responsive text-center float-justify">
                                <% for(let c of cardapios) {%>
                                    <tr id="myUL" class="text-center">
                                        <td>
                                            <b>
                                                <%=c.id%>
                                            </b>
                                        </td>
                                        <td>
                                            <%=c.itemcardapio%>
                                        </td>
                                        <td>
                                            <%=c.descricao%>
                                        </td>
                                        <td>
                                            <%=c.Categorium.nomecategoria%>

                                        </td>
                                        <td>
                                            R$
                                            <%=c.valor%>
                                        </td>
                                        <td>
                                            <div class="w3-container-fluid responsive float-justify">
                                                <div class="row w3-container-fluid responsive col-md-12">
                                                    <div class="col-md-4">
                                                        <!-- <a href="/usuarios/<%=c .id%>" class="btn btn-warning btn-sm-1">View</a>-->
                                                        <a onclick="location = '/cardapios/<%= c.id%>'"><i
                                                                style='font-size:28px;color:rgb(17, 59, 247)'
                                                                class="far fa-clipboard fa-xl" aria-hidden="true"
                                                                title="Visualisar Dados Deste Cardapio"></i> </a>
                                                        </a>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <a onclick="location = '/cardapios/<%= c.id%>/edit'"><i
                                                                style='font-size:28px;color:rgb(6, 218, 52)'
                                                                class="fas fa-edit fa-xl" aria-hidden="true"
                                                                title="Editar Este Cardapio"></i>
                                                            </button>
                                                    </div>
                                                    <% if(l.Tipousuario.tipousuario=='Administrador' ) {%>
                                                        <div class="col-4">
                                                            <form method="POST"
                                                                action="/cardapios/<%= c.id %>?_method=DELETE"
                                                                onsubmit="return del();">
                                                                <button action="submit"><i
                                                                        style='font-size:20px;color:rgb(218, 6, 6);'
                                                                        class="fas fa-trash-alt"
                                                                        title="Deletar Este Cardapio"></i>
                                                                </button>
                                                            </form>
                                                        </div>
                                                        <% } else{%>
                                                            <% }%>
                                                </div>
                                            </div>
                                        </td>
                                        <% }%>
                                    </tr>
                            <tfoot class="text-center border-light container-fluid "
                                style="width:100%; overflow-x:auto; ">
                                <tr>
                                    <!--1-->
                                    <th scope="col">ID</th>
                                    <!--2-->
                                    <th scope="col">Item do Cardápio</th>
                                    <!--3-->
                                    <th scope="col">Descrição dos Ingredientes do Cardápio</th>
                                    <th scope="col">Categoria do Cardápio</th>
                                    <!--4-->
                                    <!--4-->
                                    <th scope="col">Valor</th>
                                    <!--5-->
                                    <th scope="col">Ações</th>
                                </tr>
                            </tfoot>
                            <br>
                        </table>
                    </div>
                </div>
            </section>
            <br>
            <br>
        </div>
        <script type='text/javascript'
            src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js'></script>
        <script type='text/javascript' src='#'></script>
        <script type='text/javascript' src='#'></script>
        <script type='text/javascript' src='#'></script>
        <script type='text/javascript'>
            $(document).ready(function () {
                $('#example').DataTable({
                    "language": {
                        "sLengthMenu": "Mostrar _MENU_ entradas",
                        "lengthMenu": "Mostrar _MENU_ registros por página",
                        "zeroRecords": "Nada encontrado - desculpe",
                        "info": "Mostrando _PAGE_ página de _PAGES_ página(s)",
                        "infoEmpty": "No records available",
                        "infoFiltered": "(filtrado de _MAX_ total registros)",
                        "oPaginate": {
                            "sFirst": "First",
                            "sLast": "Last",
                            "sNext": "Próximo",
                            "sPrevious": "Anterior"
                        },

                        "sProcessing": "Processando...",
                        "sSearch": "Pesquisar:",
                        "sSearchPlaceholder": "",
                        "sUrl": "",

                    }
                });
            });
        </script>
        <script type='text/javascript'>
            var myLink = document.querySelector('a[href="# "]');
            myLink.addEventListener('click', function (e) {
                e.preventDefault();
            });
        </script>

        <script src="/js/alertas.js"></script>
</body>