<link href='../../../css/bootstrap.min.css' rel='stylesheet'>
  <link href='../../../css/font-awesome.css' rel='stylesheet'>
      <style>
        #imghome {
            display: none;
        }
    </style>

    <script>
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
        }
    </script>
</head>

<body className='snippet-body'>

    <%- include('../partials/home'); %>
        <div class="wrapper container-fluid">
            <section class="container-fluid">
                <br><br>    <br><br>
                <div class="container-fluid">
                        <div class="w3-container-fluid responsive " id="pdf2htmldiv">
                            <center>
                                <h4>Você está visualisando os dados completos do Cardápio: <b style="color: red;">
                                <br>  <%=cardapios.itemcardapio%></b> </h4>
                            </center>
                            <br>
                            <div class="container-fluid border responsive" id="pdf2htmldiv">
                            
                            <h5>Dados cadastrais do Cardápio:</h5>
                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <div align="left" class="form-group">
                                        <div><small><strong>ID Cardápio</strong></small></div>
                                        <div>
                                            <%=cardapios.id%>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <div align="left" class="form-group">
                                        <div><small><strong>Item do Cardápio</strong></small></div>
                                        <div>
                                            <%=cardapios.itemcardapio%>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <div align="left" class="form-group">
                                        <div><small></small><strong>Descrição dos Ingredientes do Cardápio</strong></small>
                                        </div>
                                        <div>
                                            <%=cardapios.descricao%>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <div align="left" class="form-group">
                                        <div><small></small><strong>Categoria do Cardápio</strong></small>
                                        </div>
                                        <div>
                                            <%=cardapios.Categorium.nomecategoria%>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <div align="left" class="form-group">
                                        <div><small></small><strong>Valor do Cardápio</strong></small>
                                        </div>
                                        <div>
                                            <%=cardapios.valor%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END container-lg border -->
                    </div>
                </div>
            <br>
                <div class=" col-8 d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Qual ação deseja realizar?</h4>
                </div>
            <div class="container responsive row col-md-12">
                   <div class="col-md-1">
                    <% if(l.Tipousuario.tipousuario == 'Administrador' || l.Tipousuario.tipousuario == 'Atendente' || l.Tipousuario.tipousuario == 'Gerente' || l.Tipousuario.tipousuario == 'Supervisor' || l.tipousuarioid == 2) {%>
                        <a onclick="location = '/cardapios/<%= cardapios.id%>/edit'" type="button" class="btn btn-success btn-sm-3 profile-button text-white" id="view" onsubmit="return edit();"><i title="Editar Este Cardápio" style="font-size: 20px;">
                           Editar </i>
                                   </a>
                   <% } else{%>
                        <% }%>
                        </div>
                                <div class="col-md-1">
                                <% if(l.Tipousuario.tipousuario == 'Administrador') {%>
                                    <form method="POST" action="/cardapios/<%= cardapios.id %>?_method=DELETE" id="view" onsubmit="return del();">
                                        <button action="submit" class="btn btn-danger btn-sm-3 text-white" title="Deletar Este Cardápio"><i style="font-size: 20px;">Deletar</i>
                                         </button>
                                    </form>
                                    <% } else { %>

                                        <% } %>
                                </div>
                                
                                        <div class="col-md-10">
                                            <a class="col-md-10" href="/cardapios ">Voltar para Listagem das Cardápios</a>
                                        </div>
            </div>

            </section>
        </div>

        <script src="/js/alertas.js"></script>

</body>
